{% extends 'layouts/base-fullscreen.html' %}

{% block title %}Forgot Password{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">
{% endblock %}

{% block content %}
<div class="signin-body" id="signin">
    <div class="container">
        <div class="form-container">
            <!-- header  -->
            <div class="header">
                <div class="header-text">
                    <h1>Reset Your Password</h1>
                    <p>Enter your email to receive reset instructions</p>
                </div>
            </div>

            <div class="form-card">
                <form action="#" method="post" class="form">
                    <div class="form-group">
                        <label for="email">
                            <i class="fas fa-envelope"></i>
                        </label>
                        <input name="email" autocomplete="off" id="email" type="email" placeholder="email address ..." required>
                    </div>

                    <button type="submit" class="form-submit-btn">Reset Password</button>

                    <div class="mt-4">
                        <a href="{{ url_for('auth.signin') }}" class="forgot-password">Back to Sign In</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- footer  -->
    {% include 'includes/footer.html' %}
</div>
{% endblock %}
