{% extends 'layouts/base-fullscreen.html' %}

{% block title %}Sign in{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">
{% endblock %}

{% block content %}
<div class="signin-body" id="signin">
    <div class="container">
        <div class="form-container form-container-signup">
            <!-- header  -->
            <div class="header">
                <div class="header-text">
                    <h1>SMART COMPOST <i class="fas fa-leaf"></i> </h1>
                    <p>Building a sustainable future together!</p>
                </div>
            </div>
            <!-- end header  -->

            <div class="form-card">
                <form action="{{ url_for('auth.signup') }}" method="POST" class="form">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <div class="d-flex row">
                        <div class="form-group">
                            <label for="first_name">
                                <i class="fas fa-user"></i>
                            </label>
                            <input name="first_name" autocomplete="off" id="first_name" type="text"
                                placeholder="first name" required value="{{ first_name or '' }}">
                        </div>
                        <div class="form-group">
                            <label for="last_name">
                                <i class="fas fa-user"></i>
                            </label>
                            <input name="last_name" autocomplete="off" id="last_name" type="text"
                                placeholder="last name" required value="{{ last_name or '' }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email">
                            <i class="fas fa-envelope"></i>
                        </label>
                        <input name="email" autocomplete="off" id="email" type="email" placeholder=" email address ..."
                            required value="{{ email or '' }}">
                    </div>

                    <div class="form-group">
                        <input required autocomplete="off" name="password" id="password" type="password"
                            placeholder="passcode ...">
                        <label for="password">
                            <i class="fas fa-lock"></i>
                        </label>
                    </div>

                    <div class="form-options">
                        <label class="checkbox-container">
                            <input name="agree" type="checkbox" {% if agree %}checked{% endif %}>
                            <div class="checkmark"></div>
                            Agree to policy & agreements
                        </label>
                        <a href="{{ url_for('auth.forgot_password') }}" class="forgot-password">SignIn?</a>
                    </div>

                    <button type="submit" class="form-submit-btn">sign In</button>
                </form>
                <p>Access Panel <a href="{{ url_for('auth.signin') }}">smart compost</a></p>
            </div>
        </div>
    </div>
    <!-- footer  -->
    {% include 'includes/footer.html' %}
</div>
{% endblock %}
