{% extends 'layouts/base.html' %}

{% block title %}
Home
{% endblock %}


{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css' ) }}">
{% endblock %}

{% block content %}
<div class="home-body">
{% include 'includes/navbar.html' %}
    <!-- home dashboard  -->
    <section id="home">

        <div class="home-container">
            <div class="center">
                {% include 'app/components/home.html' %}
            </div>


        </div>
    </section>

    <!-- wifi section  -->
    <section id="wifi"></section>

    <!-- stats & docs  -->
    <section id="stats"></section>

    <!-- settings  -->
    <section id="settings"></section>

    <!-- footer  -->
    {% include 'includes/footer.html' %}



</div>

{% endblock %}
{% block javascripts %}

{% endblock %}
