<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<title>
    Smart Compost - {% block title %} enos muthiani {% endblock %}
</title>

<!-- favicon  -->
<link rel="icon" href="static/assets/favicon.ico" type="image/x-icon">

<!-- fonts -->


<!-- font links  -->
<!-- 1. Raleway -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">


<!-- 2. oxanium  -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">


<!-- global css  -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/global.css' ) }}">


<!-- Link to Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />


<!-- script js link  -->
 <script src="{{ url_for('static', filename='js/script.js') }}"></script>
