<div class="nav">
    <div class="nav-items">
        <!-- home  -->
        <div class="nav-item">
            <a href="{{ url_for('app.home' ) }}" id="home">
                <i class="fa-brands fa-windows"></i>
            </a>
        </div>

        <!-- wifi  -->
        <div class="nav-item">
            <a href="#wifi" id="home">
                <i class="fa-solid fa-wifi"></i>
            </a>
        </div>
        <!-- stats  -->
        <div class="nav-item">
            <a href="#stats" id="home">
                <i class="fa-solid fa-chart-simple"></i>
            </a>
        </div>
        <!-- settings  -->
        <div class="nav-item">
            <a href="#settings" id="home">
                <i class="fa-solid fa-gear"></i>
            </a>
        </div>
    </div>
</div>
